@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "Printallure";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #A3C9E2;
  --color-primary-content: #333333;
  --color-secondary: #1E1E1E;
  --color-secondary-content: #666666;
  --color-accent: #2D73B5;
  --color-accent-content: #e0e0e0;
  --color-neutral: #F4F6F8;
  --color-neutral-content: #333333;
  --color-info: #D0E7F9;
  --color-info-content: #0B5394;
  --color-success: #DFF5E1;
  --color-success-content: #2E7D32;
  --color-warning: #FFF4D2;
  --color-warning-content: #B26A00;
  --color-error: #C0392B;
  /* --color-error: #FADBD8; */
  --color-error-content: #FADBD8;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}
